<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="home">

      <h1 class="page-heading">Company Handbook</h1>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

    </div>

    {% include footer.html %}

  </body>

</html>
